Repository smarlhens/npm-check-engines: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore: add .nvmrc
  .nvmrc
Due: none

chore: upgrade setup-node to v6 and use .nvmrc
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

chore: update license from MIT to BlueOak-1.0.0
  LICENSE
  LICENSE.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: upgrade runners from ubuntu-22.04 to ubuntu-24.04
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

chore: upgrade actions/checkout to v6
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

chore: upgrade codeql-action to v4
  .github/workflows/codeql.yml
Due: prettier --write

chore: update release-please-action
  .github/workflows/ci.yml
  .github/workflows/release.yml
  release-please-config.json
Due: prettier --write

chore: update patch deps version
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: add node 22 and 24 to supported engines
  .github/workflows/pr.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update minor dependencies
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): upgrade commitlint to v20
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: rename precommit to pre-commit and remove build step
  .husky/pre-commit
  package.json
Due: prettier --write, sort-package-json

chore(deps): upgrade husky to v9
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: migrate ncurc to js and pin node-constrained deps to minor
  .ncurc.js
  .ncurc.json
Due: prettier --write

chore(deps): upgrade execa to v9 and bump min node to 18.19.0
  .github/workflows/pr.yml
  .ncurc.js
  .nvmrc
  README.md
  package-lock.json
  package.json
  tests/check-engines-from-cli.spec.ts
Due: prettier --write, sort-package-json

chore: add knip v5
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .knip.json
  .ncurc.js
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): upgrade @trivago/prettier-plugin-sort-imports to v5
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): upgrade vitest and @vitest/coverage-v8 to v3
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: add .gitattributes to enforce LF line endings
  .gitattributes
Due: none

chore: add .editorconfig
  .editorconfig
Due: none

chore(main): release 0.13.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update renovate config
  .renovaterc.json
Due: prettier --write

Path conditions:
  prettier --write: any of: ./**/*.{ts,json,yml}
  sort-package-json: any of: package.json
