Repository smarlhens/npm-check-engines: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{ts,json,yml}": ["prettier --write"],
  "package.json": ["sort-package-json"]
}

chore(main): release 0.4.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v13.0.1
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.18.5
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/semver to v7.3.10
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix(deps): update dependency colorette to v2.0.19
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.7.1
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(main): release 0.4.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

docs(readme): reduce width of text
  README.md
Due: none

docs(readme): add thanks section
  README.md
Due: none

feat: clarify computed engines range constraints using table with before & after
  README.md
  lib/index.ts
  lib/tasks.ts
  lib/types.ts
  package-lock.json
  package.json
  tests/e2e/nce.spec.ts
  tests/unit/tasks.spec.ts
Due: prettier --write, sort-package-json

chore: add format markdown files using prettier
  .lintstagedrc.json
  .prettierignore
  package.json
Due: prettier --write, sort-package-json

chore(gh-actions): pin-down node version used in ci jobs
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

fix(npm): remove minimist overrides
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: remove unused commitizen related dependency & badge
  README.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(main): release 0.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/node to v18
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: simplify imports
  tests/unit/tasks.spec.ts
Due: prettier --write

chore(typescript): enforce tsconfig & type checking
  tsconfig.json
Due: prettier --write

chore: clarify imports order using prettier plugin
  .prettierrc.json
  bin/nce.ts
  lib/index.ts
  lib/json-schema-validator.ts
  lib/tasks.ts
  lib/types.ts
  lib/utils.ts
  lib/yargs.ts
  package-lock.json
  package.json
  tests/e2e/index.spec.ts
  tests/e2e/nce.spec.ts
  tests/unit/debug.spec.ts
  tests/unit/tasks.spec.ts
  tests/unit/utils.spec.ts
Due: prettier --write, sort-package-json

feat: use update-notifier to check for tool updates
  bin/nce.ts
  package-lock.json
  package.json
Due: prettier --write, sort-package-json
