Repository smarlhens/npm-check-engines: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{ts,json,yml}": ["prettier --write"],
  "package.json": ["sort-package-json"]
}

chore(renovate): remove limit on PR creation & open PRs
  .renovaterc.json
Due: prettier --write

chore(deps): update dependency lint-staged to v12.4.3
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v12.5.0
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: prepare multiple engines support
  README.md
  lib/index.ts
  lib/tasks.ts
  lib/types.ts
  tests/e2e/index.spec.ts
  tests/e2e/nce.spec.ts
  tests/unit/tasks.spec.ts
Due: prettier --write

chore(main): release 0.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: add cli engines option to choose specific engine(s)
  lib/index.ts
  lib/tasks.ts
  lib/types.ts
  lib/yargs.ts
  tests/unit/tasks.spec.ts
Due: prettier --write

feat: add support for npm engine
  lib/tasks.ts
  lib/types.ts
  package.json
  tests/unit/tasks.spec.ts
Due: prettier --write, sort-package-json

feat: add yarn engine
  lib/types.ts
Due: prettier --write

chore(main): release 0.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v17.0.2
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v28
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v13
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v27.5.2
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency ts-node to v10.8.1
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency typescript to v4.7.3
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix(deps): update dependency colorette to v2.0.17
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): move form dependencies to devDependencies
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

ci(release-please): update changelog-types, add documentation & chores sections
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore(main): release 0.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v28.1.1
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): update jest monorepo to v28.1.1
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

docs(readme): add lgtm badges
  README.md
Due: none

ci(release-please): remove signoff option
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write
