Repository smarlhens/npm-check-engines: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./**/*.{ts,json,yml}": ["prettier --write"],
  "package.json": ["sort-package-json"]
}

feat: engines as optional, support lockfileversion 3, expose validation functions
  README.md
  examples/package.json
  examples/with-complex-semver-node-npm-yarn/package-lock.json
  examples/with-complex-semver-node/package-lock.json
  examples/with-lock-file-version-1/package-lock.json
  examples/with-lock-file-version-2-dependencies-packages/package-lock.json
  examples/with-lock-file-version-2-dependencies/package-lock.json
  examples/with-lock-file-version-2-packages/package-lock.json
  examples/with-lock-file-version-3/package-lock.json
  examples/without-engines-with-npmrc-without-engine-strict/package-lock.json
  examples/without-engines-without-npmrc/package-lock.json
  lib/nce.ts
  tests/check-engines-from-string.spec.ts
  tests/validate-package-json.spec.ts
  tests/validate-package-lock.spec.ts
  tsconfig.json
Due: prettier --write, sort-package-json

chore(main): release 0.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: prepare execa update
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix: cjs does not support import.meta.url
  tsup.config.json
Due: prettier --write

feat: add an option to enable engine strict
  lib/nce.ts
  lib/yargs.ts
  tests/check-engines-from-cli.spec.ts
Due: prettier --write

chore(main): release 0.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: update engines in lock file if relevant
  .npmrc
  README.md
  examples/with-lock-file-version-2-dependencies-packages/package-lock.json
  examples/with-lock-file-version-3/package-lock.json
  lib/nce.ts
  lib/yargs.ts
  tests/check-engines-from-cli.spec.ts
  tests/check-engines-from-string.spec.ts
Due: prettier --write

feat: take the greatest range if no intersection
  examples/with-incompatible-semver/package-lock.json
  examples/with-incompatible-semver/package.json
  lib/nce.ts
  tests/check-engines-from-string.spec.ts
Due: prettier --write, sort-package-json

docs(README): update options & debug output
  README.md
Due: none

chore(deps): update dependency @trivago/prettier-plugin-sort-imports to v4.1.0
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(main): release 0.11.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: use package.json defined engine ranges as default for lock file
  examples/with-lock-file-version-1/package-lock.json
  examples/with-lock-file-version-1/package.json
  lib/nce.ts
  tests/check-engines-from-string.spec.ts
Due: prettier --write, sort-package-json

chore(main): release 0.12.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: enhance range comparison
  lib/nce.ts
  tests/check-engines-from-cli.spec.ts
  tests/restrictive-range.spec.ts
Due: prettier --write

chore(main): release 0.13.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: bump node to v18
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .prettierrc.json
  .renovaterc.json
  README.md
  lib/nce.ts
  package-lock.json
  package.json
  tests/__snapshots__/check-engines-from-cli.spec.ts.snap
  tests/check-engines-from-cli.spec.ts
  tests/check-engines-from-string.spec.ts
  tsconfig.json
  vitest.config.ts
Due: prettier --write, sort-package-json

chore(main): release 0.13.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: upgrade vulnerable deps in packag-lock.json
  package-lock.json
Due: prettier --write

chore: upgrade lodash-es to latest
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: upgrade vitest (and related)
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: upgrade ajv, tsup, & lint-staged
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update engines.node using nce (of course)
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: add .gitattributes to enforce LF line endings
  .gitattributes
Due: none

chore: add .editorconfig
  .editorconfig
Due: none
