Repository smarlhens/npm-check-engines: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore(main): release 0.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: tips to upgrade package.json when new computed range constraints are available
  README.md
  lib/tasks.ts
  tests/e2e/nce.spec.ts
  tests/unit/tasks.spec.ts
Due: prettier --write

docs(readme): add missing thanks link in toc
  README.md
Due: none

chore(main): release 0.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

build: use tsup instead of tsc, export to esm, add .d.ts to package
  lib/json-schema-validator.ts
  lib/types.ts
  lib/yargs.ts
  package-lock.json
  package.json
  schemas/schema-package-lock.json
  schemas/schema-package.json
  tsup.config.json
Due: prettier --write, sort-package-json

chore(main): release 0.7.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: change imports, remove unused variables
  lib/index.ts
  lib/tasks.ts
  lib/utils.ts
  tests/e2e/index.spec.ts
  tests/e2e/nce.spec.ts
  tests/unit/utils.spec.ts
Due: prettier --write

refactor: remove json imports, load json using fs-extra
  bin/nce.ts
  lib/index.ts
  lib/json-schema-validator.ts
  lib/tasks.ts
  lib/types.ts
  lib/utils.ts
  lib/yargs.ts
  package-lock.json
  package.json
  tests/e2e/index.spec.ts
  tests/unit/tasks.spec.ts
  tests/unit/utils.spec.ts
  tsconfig.json
  tsup.config.json
Due: prettier --write, sort-package-json

refactor: move to vitest, chalk; remove babel, colorette, jest; es2022
  .babelrc.json
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .ncurc.json
  .prettierignore
  .whitesource
  bin/nce.ts
  jest.config.json
  lib/index.ts
  lib/json-schema-validator.ts
  lib/renderer.ts
  lib/tasks.ts
  lib/types.ts
  lib/utils.ts
  lib/yargs.ts
  package-lock.json
  package.json
  tests/e2e/index.spec.ts
  tests/e2e/nce.spec.ts
  tests/unit/debug.spec.ts
  tests/unit/renderer.spec.ts
  tests/unit/tasks.spec.ts
  tests/unit/utils.spec.ts
  tsconfig.json
  tsup.config.json
  vitest.config.ts
Due: prettier --write, sort-package-json

chore: set node minimal version to v16.13
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix: use process working dir to retrieve package json
  bin/nce.ts
Due: prettier --write

chore(main): release 0.7.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix: use package file to propose update notification
  .husky/commit-msg
  .husky/pre-commit
  bin/nce.ts
Due: prettier --write

chore(main): release 0.7.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: prettier --write

refactor: apply linter
  .github/workflows/codeql.yml
Due: prettier --write

ci: add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: prettier --write

chore: remove lgtm related content
  .github/workflows/codeql.yml
  README.md
Due: prettier --write

chore(main): release 0.7.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: check engine-strict, support lockfileversion 1, refactor
  bin/nce.ts
  examples/package.json
  examples/without-engines-with-npmrc-with-engine-strict/.npmrc
  examples/without-engines-with-npmrc-with-engine-strict/package-lock.json
  examples/without-engines-with-npmrc-with-engine-strict/package.json
  examples/without-engines-with-npmrc-without-engine-strict/.npmrc
  examples/without-engines-with-npmrc-without-engine-strict/package-lock.json
  examples/without-engines-with-npmrc-without-engine-strict/package.json
  examples/without-engines-without-npmrc/package-lock.json
  examples/without-engines-without-npmrc/package.json
  lib/debug.ts
  lib/index.ts
  lib/json-schema-validator.ts
  lib/nce.ts
  lib/renderer.ts
  lib/tasks.ts
  lib/types.ts
  lib/utils.ts
  lib/yargs.ts
  package-lock.json
  package.json
  schemas/schema-package-lock.json
  schemas/schema-package.json
  tests/check-engines-from-cli.spec.ts
  tests/check-engines-from-string.spec.ts
  tests/e2e/index.spec.ts
  tests/e2e/nce.spec.ts
  tests/unit/debug.spec.ts
  tests/unit/renderer.spec.ts
  tests/unit/tasks.spec.ts
  tests/unit/utils.spec.ts
  tsup.config.json
Due: prettier --write, sort-package-json

chore(main): release 0.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: any of: ./**/*.{ts,json,yml}
  sort-package-json: any of: package.json
